spring:
  application:
    name: netflix-zuul-api-gateway-server

server:
  port: 8765

eureka:
  instance:
    perferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}

ribbon:
  ReadTimeout: 60000
  connection-timeout: 3000
  eureka:
    enabled: true

zuul:
  routes:
    item-service: /item/**
    user-service: /user/**
  ignored-services: '*'
  prefix: /api
  host:
    connect-timeout-millis: 5000
    max-per-route-connections: 10000
    max-total-connections: 5000
    socket-timeout-millis: 60000
  semaphore:
    max-semaphores: 500


hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 50000


#logging:
#  level:
#    com.netflix: WARN
#    org.springframework.web: WARN
#    com.itemsSharing: DEBUG
